body {
    background-color: #08153d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center text */
  }
  
  h1 {
    font-size: 2em;
  }
  
  p {
    font-size: 1.2em; /* Adjust size for better readability */
  }
  